---
import Layout from '../../../../layouts/Layout.astro'
import Footer from '../../../../components/Footer.astro'

const title = `My FOSDEM talk video is out`
const description = ``
let publishedOn = ``
const publishDate = `2025-02-11`
const publishState = ``
const content = `<p>The video recording for my talk about Elk at the Social Web FOSDEM is out:</p>
<p>👉 https://fosdem.org/2025/schedule/event/fosdem-2025-5049-elk-a-nimble-client-for-mastodon/</p>
<p>As of writing, the audio still not synced, but I was informed that it <em>might</em> get fixed after a reencode pass thingy.</p>
<p>(Just squint your eyes for now, or if you get annoyed check again later)</p>
<h2>Update: I fixed the video</h2>
<p>See my <a href="https://ayos.blog/elk-fosdem-2025/">blog post on this talk</a>.</p>`

publishedOn = publishedOn === '' ? publishDate : publishedOn
---

<Layout title={title} description={description}>
  <main>
    <h1><span class="text-gradient">{title}</span></h1>
    <p>
      <em>
        Published on
        <time datetime={publishDate}>{publishedOn}</time>
        {publishState}
      </em>
    </p>

    <Fragment set:html={content} />

    <Footer />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: var(--content-width);
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--ayo-gradient);
    animation: pulse 4s ease-in-out infinite;
    background-size: 500% 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
  }

  .highlighted-content {
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .highlighted-content code {
    font-size: var(--font-size-base);
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    gap: 1rem;
    padding: 0;
  }
</style>
