---
const year = new Date().getFullYear();
const leftLinks = [
  {
    text: 'Ayo\'s Blog',
    url: 'https://ayos.blog'
  },
  {
    text: 'Ayco Social',
    url: 'https://social.ayco.io'
  },
  {
    text: 'GitHub',
    url: 'https://github.com/ayoayco'
  },
  {
    text: 'SourceHut',
    url: 'https://sr.ht/~ayoayco'
  },
]

const rightLinks = [
  {
    text: 'LinkedIn',
    url: 'https://www.linkedin.com/in/ayoayco'
  },
  {
    text: 'Photos',
    url: 'https://metapixl.com/@ayo'
  },
  {
    text: 'SoundCloud',
    url: 'https://SoundCloud.com/ayoayco'
  },
  {
    text: 'NPM',
    url: 'https://www.npmjs.com/~aayco'
  },
  {
    text: 'Instagram',
    url: 'https://instagram.com/ayoayco'
  },
  {
    text: 'Web Tools',
    url: 'https://m.webtoo.ls/@ayo'
  },
]
---

<footer>
  <div class="left-section">
    <p><strong>Elsewhere:</strong></p>
    {
      rightLinks.map((linkObj) => <p><a href={linkObj.url}>{linkObj.text}</a></p>)
    }
  </div>
  <div class="right-section">
    <p>&#169; 2022-{year} <a href="/">Ayo Ayco</a></p>
    <p>
      This website <a href="https://ayos.blog/stopped-tracking-on-my-sites"
        >does not track users</a>
    </p>
    <p>
      See the <a href="https://sr.ht/~ayoayco/personal-site">source code</a>
    </p>
    {
      leftLinks.map((linkObj) => <p><a href={linkObj.url}>{linkObj.text}</a></p>)
    }
  </div>
</footer>

<style>
  footer {
    margin-top: 1em;
    grid-template-columns: auto auto;
    display: grid;
    gap: 1rem;
    padding: 0;

    & .right-section {
      text-align: right;
    }
  }

  footer p {
    font-size: var(--font-size-sm);
    margin: 0;
  }

</style>
